name: CI



on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'

jobs:
  build:
    runs-on: ${{ matrix.os }}

